
.inputForm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  input {
    margin-right: 20px;
  }
}

.inputFormEditing {
  margin-bottom: 0;
  margin-right: auto;
  input {
    width: auto;
    min-width: 230px;
  }
}

.checkbox {
  margin-right: 20px;
}

.filters {
  display: flex;
  justify-content: space-evenly;
}